body
{
	background-image: url(../img/background.jpg);
}

#logo
{
	height: 150px;
	width: 1030px;
	background-image: url(../img/logo.png);
}

#glados-img
{
	height: 300px;
	width:250px;
	background-image: url(../img/gladosbg.png);
	float: left;
}

.container
{
	float: right;
	margin-right: 140px;
}